

.listindent {
    padding-left: 10px;
}

.iconindent {
    padding-right: 10px;
}

body {
    font-family: 'Cabin', sans-serif;
}

.sidebar {
    background-color: #0E2954;
    padding-top: 1.25rem;
    padding-left: 1.25rem;
    position:fixed;
    width: 15%;
    
}

#dropdownUser {
    padding-bottom: 10px;
}

.sidebartext {
    color: white 
}

.main-content {
    width: 85%;
    margin-left: 15%;
}

.content-tab:not(#home-tab) {
    display: none;
}

.content-tab {
    margin: 15px;
}

.content-button {
    position: relative;
    /* width: 13.8rem; */
    padding-left: 10px;
}

.content-button:hover {
    font-size: larger;
}

.logo-container {
    padding-bottom: 20px;
}

.manage-users-tab {
    padding: 5% 5% 5% 5%;

}

#employee-list-tab, #project-assignment-tab  {
    display: none;
}

h4 {
    font-weight: bold;
    margin-bottom: 20px;
}

.form-control {
    width: 65%;
}

.radio-label {
    padding-left: 10px;
}

.register-employee-btn {
    margin-right: 1.5rem;
    margin-top: 1rem;
}

#employee-role-select {
    margin-top: 0.5rem;
}

.assign-to-team-container {
    padding-top: 1.5rem;
}

#team-leader-list {
    margin-top: 0.5rem;
    height: 8rem;

}

#assign-to-team-container {
    display: none;
    margin-top: 2rem;
}

.employee-buttons {
    display: none;

}

.employee-buttons:hover {
    display: none;
}

.each-employee-tab:hover .employee-buttons {
    display: block;
}

